[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
matplotlib = "*"
sortedcollections = "*"
tqdm = "*"
networkx = "*"
graphviz = "*"
numpy = "*"
ipykernel = "*"


[dev-packages]



[requires]

python_version = "3.6"
